<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="author" content="Michael Manning">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ (isset($title)? "$title - Nevermore" : "Nevermore") }}</title>
		{{ HTML::Style('css/stylesheet.css') }}
		<style>
			body {
				padding-top: 60px;
				padding-bottom: 40px;
			}
			.loginNav{
				padding-top: 10px !important;
				padding-bottom: 10px !important;
				padding-left:  5px !important;
				padding-right:  5px !important;
			}
		</style>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="{{ URL::Route('home') }}" class="brand">Nevermore</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li><a {{ (Request::is('forum')? 'class="active"': '') }} href="{{ URL::Route('forum') }}">Forum</a></li>
							<li><a {{ (Request::is('calender')? 'class="active"': '') }} href="{{ URL::Route('calendar') }}">Calender</a></li>
							<li><a {{ (Request::is('shop')? 'class="active"': '') }} href="{{ URL::Route('shop') }}">Shop</a></li>
							<li><a {{ (Request::is('donate')? 'class="active"': '') }} href="{{ URL::Route('donate') }}">Donations</a></li>
							@if(Sentry::check())
								@if(Sentry::getUser()->hasAnyAccess(['admin']))
									<li><a {{ (Request::is('admin')? 'class="active"':'' ) }} href="{{ URL::Route('admin') }}">Admin</a></li>
								@endif
							@endif
						</ul>
						<ul class="nav pull-right">
							@if(Sentry::check())
								<li><a class="loginNav" href="{{ URL::Route('logout') }}">Logout</a></li>
								<li class="divider-vertical"></li>
								<li><a class="loginNav" href="{{ URL::to('user/'.Sentry::getUser()['username'].'/profile') }}"><i class="icon-user icon-white"></i> {{ Sentry::getUser()['username'] }}</a></li>
								<li><a class="loginNav" href="{{ URL::to('user/'.Sentry::getUser()['username'].'/edit') }}"><i class="icon-cog icon-white"></i></a></li>
							@else
								<li><a {{ (Request::is('user/register')? 'class="active"': '') }} href="{{ URL::to('/user/register') }}">Sign Up</a></li>
						        @if(Request::is('user/login'))
									<li><a class="active" href="#">Sign In</a><li>
						        @else
							        <li class="dropdown">
							        	<a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
							            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
											{{ Form::open(['url' => '/user/login']) }}
												{{ Form::token() }}
									            <div class="controls">
									                <input name="email" id="email" value="{{ Request::old('email') }}" type="text" class="input-xlarge" placeholder="E-mail"><br />
									            </div>
									            <div class="controls">
									                <input name="password" value="" type="password" class="input-xlarge" placeholder="Password"><br />
									            </div>
										        <div class="control-group" for"rememberme">
										            <div class="controls">
										                <label class="checkbox inline">
										                    <input type="checkbox" name="rememberMe" value="1"> Remember Me
										                </label>
										            </div>
										        </div>
												{{ Form::submit('Login', ['class'=>'btn']) }}
											{{ Form::close() }}
							            </div>
							        </li>
						        @endif
					        @endif
						</ul>
					</div>
				</div>
			</div>
		</div>		
		<div class="container-fluid">
			@include('notifications')
			<div class="row-fluid">
				@yield('content')
			</div>
			<hr>
			<footer>
				<div class="span2">&copy; Nevermore</div>
				<div class="span2">
					<ul class="unstyled">
						<li><a href="#">About Us</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Terms and Conditions</a></li>
						<li><a href="#">Rules</li>
					</ul>
				</div>
				<div class="span2 pull-right">
					<ul class="inline social">
						<li><a href="http://twitter.com/NevermoreServer"><div class="twitter"><i class="icon-g-twitter icon-g-white"></i></div></a></li>
						<li><a href="http://www.facebook.com/NeverMoreServer"><div class="facebook"><i class="icon-g-facebook icon-g-white"></i></div></a></li>
						<li><a href="http://www.youtube.com"><div class="youtube"><i class="icon-g-youtube icon-g-white"></i></div></a></li>
						<!-- <li><a href="#"><div class="rss"><i class="icon-g-rss icon-g-white"></i></div></a></li> -->
					</ul>
				</div>
			</footer>
		</div>
		{{ HTML::Script('js/jQuery-1.10.1.min.js') }}
		{{ HTML::Script('js/bootstrap.min.js') }}
		{{ HTML::Script('js/bootstrap-datepicker.js') }}
		<script type="text/javascript">
			$(document).ready(function() {
				@section('javascript')
					$('.dropdown-toggle').dropdown();
					$('.dropdown input, .dropdown label').click(function(e) {
			    		e.stopPropagation();
			  		});
				@show
			});
		</script>
	</body>
</html>